.header {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    align-items: end;
}

.header-img {
    max-width: 150px;
    height: auto;
}

@media (min-width: 600px) {
    .header {
        padding-bottom: 16px;
    }
    .header-img {
        max-width: 300px;
        margin: 0 auto;
    }
  }

  .header-link {
    display: flex;
    align-items: center;
    text-decoration: none;
  }